html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
} */

.conteudo {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1100px;

}

.home {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  font-family: 'Rethink Sans', sans-serif;  
  
}
.titulo_inicio {
  font-weight:bolder;
  font-size: 30px;

}

.sessao_paragrafo {
  margin: 20px 0;
  line-height: 1.6;
}

.title-section {
  display: flex;
  align-items: center;
}

.title-image {
  width: 600px;
  margin-right: 20px;
  padding-top: 20px;
}

.titulo_paragrafo {
  font-weight: bold;
  font-size: 18px;
}




